{% extends 'index.html' %}

{% block show_doc %}
    <div class="main-content bg-gray-dark text-white markdown-body col-12 col-lg-10 pt-7 pb-12 px-3 px-md-6">
        <div class="container-lg">
            <h2 id="github-cli">GitHub CLI</h2>

            <p><code class="language-plaintext highlighter-rouge">gh</code> is GitHub on the command line. It brings
                pull requests, issues, and other GitHub concepts to the terminal next to where you are already
                working
                with git and your code.</p>

            <h3 id="installation">Installation</h3>

            <p>You can find installation instructions on our <a
                    href="https://github.com/cli/cli#installation">README</a>.</p>

            <h3 id="authentication">Authentication</h3>

            <p>Run <a href="documents/gh_auth_login"><code class="language-plaintext highlighter-rouge">gh auth
                login</code></a> to authenticate with your GitHub account. <code
                    class="language-plaintext highlighter-rouge">gh</code> will respect tokens set using <code
                    class="language-plaintext highlighter-rouge">GITHUB_TOKEN</code>.</p>

            <h3 id="github-enterprise-server">GitHub Enterprise Server</h3>

            <p>GitHub CLI supports GHES 2.20 and above. To authenticate with a GitHub Enterprise instance, run:</p>

            <div class="language-plaintext highlighter-rouge">
                <div class="highlight"><pre class="highlight"><code>gh auth login --hostname &lt;hostname&gt;
</code></pre>
                </div>
            </div>

            <p>You will be prompted to either authenticate using your browser, or to paste a token.</p>

            <h3 id="setting-an-editor">Setting an editor</h3>

            <p>To set your preferred editor, you can use <code class="language-plaintext highlighter-rouge">gh
                config
                set editor &lt;editor&gt;</code>. Read more about <a href="documents/gh_config"><code
                    class="language-plaintext highlighter-rouge">gh config</code></a>.</p>

            <p>Additionally if the above is not set, for macOS and Linux,<code
                    class="language-plaintext highlighter-rouge">gh</code> will respect the following environment
                variables, in this order, based on your <a
                        href="https://github.com/rbenv/rbenv/wiki/unix-shell-initialization#shell-init-files">OS and
                    shell setup</a>:</p>

            <ol>
                <li><code class="language-plaintext highlighter-rouge">GIT_EDITOR</code></li>
                <li><code class="language-plaintext highlighter-rouge">VISUAL</code></li>
                <li><code class="language-plaintext highlighter-rouge">EDITOR</code></li>
            </ol>

            <p>On macOS and Linux, the default editor is Nano. On Windows, the default editor is Notepad.</p>

            <h3 id="setting-your-git-protocol">Setting your git protocol</h3>

            <p>To set your preferred git protocol, you can use <code class="language-plaintext highlighter-rouge">gh
                config set git_protocol { ssh | https }</code>. Read more about <a href="documents/gh_config"><code
                    class="language-plaintext highlighter-rouge">gh config</code></a>.</p>

            <h3 id="disable-interactivity">Disable interactivity</h3>

            <p>To disable interactive prompts, you can use <code class="language-plaintext highlighter-rouge">gh
                config
                set prompt disabled</code>. Read more about <a href="documents/gh_config"><code
                    class="language-plaintext highlighter-rouge">gh config</code></a>.</p>

            <h3 id="extending-the-cli">Extending the CLI</h3>

            <p>There are several ways you can make <code class="language-plaintext highlighter-rouge">gh</code> your
                own.</p>

            <ol>
                <li>Create shorthands using <a href="documents/gh_alias_set"><code
                        class="language-plaintext highlighter-rouge">gh alias set</code></a></li>
                <li>Make custom API queries using <a href="documents/gh_api"><code
                        class="language-plaintext highlighter-rouge">gh api</code></a></li>
                <li>Use <a href="documents/environment-variables">environment variables</a></li>
            </ol>

            <h3 id="feedback">Feedback</h3>

            <p>Thank you for checking out GitHub CLI! Please <a href="https://github.com/cli/cli/issues/new/choose">open
                an issue</a> to send us feedback. We're looking forward to hearing it.</p>


        </div>
    </div>
{% endblock %}