{% extends 'index.html' %}

{% block show_doc %}
    <h2><a name="flask" class="md-header-anchor"></a><span>Flask</span></h2><h4><a
        name="flask-简略运行过程" class="md-header-anchor"></a><span>Flask 简略运行过程</span></h4>
    <ul>
        <li><span>flask 应用实例会启动一个微型服务器</span></li>
        <li><span>微型服务器收集用户请求用 </span><code>Werkzeug</code><span> 做路由分发</span></li>
        <li><span>根据路由找到对应的路由函数，返回数据给用户</span></li>
        <li><span>返回的数据可以是字符串和 html 模板</span></li>
    </ul>
    <p>&nbsp;</p><h4><a name="创建-app-实例并启动微型服务器" class="md-header-anchor"></a><span>创建 </span><code>app</code><span> 实例，并启动微型服务器</span>
</h4>
    <pre spellcheck="false" class="md-fences md-end-block ty-contain-cm modeLoaded" lang="python"><div
            class="CodeMirror cm-s-inner CodeMirror-wrap" lang="python"><div
            style="overflow: hidden; position: relative; width: 3px; height: 0px; top: 0px; left: 8px;"><textarea
            autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="0"
            style="position: absolute; bottom: -1em; padding: 0px; width: 1000px; height: 1em; outline: none;"></textarea></div><div
            class="CodeMirror-scrollbar-filler" cm-not-content="true"></div><div class="CodeMirror-gutter-filler"
                                                                                 cm-not-content="true"></div><div
            class="CodeMirror-scroll" tabindex="-1"><div class="CodeMirror-sizer"
                                                         style="margin-left: 0px; margin-bottom: 0px; border-right-width: 0px; padding-right: 0px; padding-bottom: 0px;"><div
            style="position: relative; top: 0px;"><div class="CodeMirror-lines" role="presentation"><div
            role="presentation" style="position: relative; outline: none;"><div
            class="CodeMirror-measure"><span><span>​</span>x</span></div><div class="CodeMirror-measure"></div><div
            style="position: relative; z-index: 1;"></div><div class="CodeMirror-code" role="presentation" style=""><div
            class="CodeMirror-activeline" style="position: relative;"><div
            class="CodeMirror-activeline-background CodeMirror-linebackground"></div><div
            class="CodeMirror-gutter-background CodeMirror-activeline-gutter" style="left: 0px; width: 0px;"></div><pre
            class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;"><span
            class="cm-keyword">from</span> <span class="cm-variable">flask</span> <span class="cm-keyword">import</span> <span
            class="cm-variable">Flask</span></span></pre></div><pre class=" CodeMirror-line " role="presentation"><span
            role="presentation" style="padding-right: 0.1px;"><span cm-text="">​</span></span></pre><pre
            class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;"><span
            class="cm-comment"># create app</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span
            role="presentation" style="padding-right: 0.1px;"><span class="cm-variable">app</span> = <span
            class="cm-variable">Flask</span>(<span class="cm-variable">__name__</span>)</span></pre><pre
            class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;"><span
            cm-text="">​</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation"
                                                                                                     style="padding-right: 0.1px;"><span
            class="cm-meta">@app</span>.<span class="cm-property">route</span>(<span
            class="cm-string">"/"</span>)</span></pre><pre class=" CodeMirror-line " role="presentation"><span
            role="presentation" style="padding-right: 0.1px;"><span class="cm-keyword">def</span> <span class="cm-def">index</span>():</span></pre><pre
            class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;"> &nbsp; &nbsp;<span
            class="cm-keyword">return</span> <span class="cm-string">"this is a route function"</span></span></pre><pre
            class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;"><span
            cm-text="">​</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation"
                                                                                                     style="padding-right: 0.1px;"><span
            class="cm-keyword">if</span> <span class="cm-variable">__name__</span> == <span
            class="cm-string">"__main__"</span>:</span></pre><pre class=" CodeMirror-line " role="presentation"><span
            role="presentation" style="padding-right: 0.1px;"> &nbsp; &nbsp;<span class="cm-variable">app</span>.<span
            class="cm-property">run</span>(<span class="cm-variable">host</span>=<span
            class="cm-string">"127.0.0.1"</span>, <span class="cm-variable">port</span>=<span
            class="cm-string">"8080"</span>)</span></pre></div></div></div></div></div><div
            style="position: absolute; height: 0px; width: 1px; border-bottom: 0px solid transparent; top: 253px;"></div><div
            class="CodeMirror-gutters" style="display: none; height: 253px;"></div></div></div></pre>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

{% endblock %}