{% extends 'index.html' %}
{% block show_doc %}
    <h1>Git Tutorial</h1>
    <blockquote><p>文章适合</p>
    </blockquote>
    <h3>获取帮助</h3>
    <pre><code class='language-shell' lang='shell'>man git-log
# or
git help log
</code></pre>
    <h3>设置</h3>
    <pre><code class='language-shell' lang='shell'># set editor to vim
git config --global core.editor &quot;vim&quot;

# list all configs of global
git config --list
</code></pre>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h3>创建一个储存库</h3>
    <pre><code class='language-shell' lang='shell'>cd project_dir
git init
</code></pre>
    <p>&nbsp;</p>
    <h3>添加文件到暂存区</h3>
    <pre><code class='language-shell' lang='shell'>git add file1 file2 file3 ...
# or
git add .
</code></pre>
    <p>&nbsp;</p>
    <h3>提交修改到版本库</h3>
    <pre><code class='language-shell' lang='shell'>git commit -m &quot;description&quot;
</code></pre>
    <p>&nbsp;</p>
    <h3>查看版本库状态</h3>
    <pre><code class='language-shell' lang='shell'>git status
</code></pre>
    <p>&nbsp;</p>
    <h3>查看已经提价的修改</h3>
    <pre><code class='language-shell' lang='shell'>git diff --cached
</code></pre>
    <p>&nbsp;</p>
    <h3>提交一步到位</h3>
    <pre><code class='language-shell' lang='shell'>git commit -a
</code></pre>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

{% endblock %}
